@model UserViewModel

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <h5>
            Hoşgeldin @User.Identity.Name
        </h5>
        <h6>Kullanıcı Bilgileri</h6>
        <table class="table">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Phone</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.UserName</td>
                    <td>@Model.Email</td>
                    <td>@Model.PhoneNumber</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

